<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <div class="centered">
      <span id= "car_control" class= "car" >
      <button type="button" class="btn btn-primar" onmousedown="getSigners()" onmouseup="">getSigners</button >
      </span>

      <div>
          <strong>所有用户的地址</strong>
          <p id="signers"></p>
      </div>
        <span id= "car_control" class= "car" >
            <button type="button" class="btn btn-primar" onmousedown="getSignerSize()" onmouseup="">getSignerSize</button >
        </span>

      <div>
          <strong>用户数量</strong>
          <p id="signersize"></p>
      </div>

            <form id="formid" name= "myform" method = 'post' onsubmit = "checkUser();" >
    <table width="100%" border="0">
    <tr>
    <td width="60" height="40" align="right">下标 </td>
    <td><input type="text" value="" class="text2" name = "username" id = "userid"/></td>
    </tr>
    <tr>
    <td width="60" height="40" align="right"> </td>
    <td><div class="c4">
    <input type="submit" value="" class="btn2" />
    </div></td></tr></table></form>
        <strong>地址</strong>
    <p id="indexsigner"></p>

    </div>
  <script>
  function getSigners(){
  var url = "http://127.0.0.1:5000/signer/lists";
  var request = new XMLHttpRequest();
  request.onload = function () {
      if (request.status === 200) {
        displayContent(request.responseText, "signers")
      }
  };
  request.open("GET", url);
  request.send(null)
  }
  function getSignerSize(){
  var url = "http://127.0.0.1:5000/signer/size";
  var request = new XMLHttpRequest();
  request.onload = function () {
      if (request.status === 200) {
        displayContent(request.responseText, "signersize")
      }
  };
  request.open("GET", url);
  request.send(null)
  }

  function checkUser(){
        var result = document.getElementById("userid").value;
        if(result == "" ){
            alert("用户名不能为空");
            return false;
        }else{
            var urlBase = "http://127.0.0.1:5000/signer/";
            var url = urlBase.concat(result);
            var request = new XMLHttpRequest();

            request.open("get", url, true);
            request.setRequestHeader("Content-Type", "application/json");

            request.send(null);

            request.onload = function () {
                if (request.status === 200) {
                    displayContent(request.responseText, "indexsigner")
                }
            };

            return true
        }
    }



  function displayContent(content, _id) {
      var p = document.getElementById(_id);
      p.innerHTML = content;
  }
  </script>

</body>
</html>