<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="formid" name= "myform" method = 'post' onsubmit = "return checkUser();" >
    <table width="100%" border="0">
    <tr>
    <td width="60" height="40" align="right">用户名 </td>
    <td><input type="text" value="" class="text2" name = "username" id = "userid"/></td>
    </tr>
    <tr>
    <td width="60" height="40" align="right">密  码 </td>
    <td><input type="password" value="" class="text2" name = "userpass" id = "userpassid"/></td>
    </tr>
    <tr>
    <td width="60" height="40" align="right"> </td>
    <td><div class="c4">
    <input type="submit" value="" class="btn2" />
    </div></td></tr></table></form>
    <script>function checkUser(){
    var result = document.getElementById("userid").value;
    var password = document.getElementById("userpassid").value;
    if(result == "" ){
        alert("用户名不能为空");
        return false;
    }
    if(password == "" ){
        alert("密码不能为空");
        return false;
    }else{
        alert("登入成功")
        return true
    }
    }
    </script>

</body>
</html>
-->

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="formid" name= "myform" method = 'get' onsubmit = "return checkUser();" >
    <table width="100%" border="0">
    <tr>
    <td width="60" height="40" align="right">用户名 </td>
    <td><input type="text" value="" class="text2" name = "username" id = "userid"/></td>
    </tr>

    <tr>
        <td width="60" height="40" align="right"> </td>
        <td>
            <div class="c4">
                <input type="submit" value="" class="btn" />
            </div>
        </td>
    </tr>
    </table>
    </form>
    <script>function checkUser(){
    var result = document.getElementById("userid").value;
    alert(result);
        var url = "http://127.0.0.1:5000/signer/"+result;
        var request = new XMLHttpRequest();
        request.onload = function () {
            if (request.status === 200) {
                {#displayContent(request.responseText, "signers")#}
                alert(request.responseText);
            }
        };
        request.open("GET", url);
        request.send(null);

    }
    </script>

</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="formid" name= "myform" method = 'post' onsubmit = "checkUser();" >
    <table width="100%" border="0">
    <tr>
    <td width="60" height="40" align="right">用户名 </td>
    <td><input type="text" value="" class="text2" name = "username" id = "userid"/></td>
    </tr>
    <tr>
    <td width="60" height="40" align="right"> </td>
    <td><div class="c4">
    <input type="submit" value="" class="btn2" />
    </div></td></tr></table></form>
    <p id="indexsigner"></p>
    <script>function checkUser(){
        var result = document.getElementById("userid").value;
        if(result == "" ){
            alert("用户名不能为空");
            return false;
        }else{
            var urlBase = "http://127.0.0.1:5000/signer/";
            var url = urlBase.concat(result);
            var request = new XMLHttpRequest();

            request.open("get", url, true);
            request.setRequestHeader("Content-Type", "application/json");

            request.send(null);

            request.onload = function () {
                if (request.status === 200) {
                    displayContent(request.responseText, "indexsigner")
                }
            };

            return true
        }
    }
  function displayContent(content, _id) {
      var p = document.getElementById(_id);
      p.innerHTML = content;
  }
    </script>

</body>
</html>